body {
    font-family: Arial, sans-serif;
    background: #f2f7ff;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #6ba4ff;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px;
    background: #e8f0ff;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #d4e2ff;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.content {
    padding: 30px;
}

.img-box, .video-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px #d4e2ff;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}
